*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

label {
  font-size: 1.2rem;
  color: #656262;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
  font-family: sans-serif;
}

.form_container {
  background-color: #FBFBFB;
  padding: 2rem 3.5rem;
  border-radius: 1.5rem;
  width: 105%;
  max-width: 400px;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.form_container > h2 {
  margin-bottom: 0.5rem;
  padding-block: 0.6rem;
  display: flex;
  justify-content: center;
  color: #023F76;
}

.form_container > form {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.form_container div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.form_container label {
  color: #026670;
  font-weight: bold;
}

.form_container input {
  background-color: #FBFBFB;
  color: #026670;
  opacity: 0.8;
  border: none;
  padding: 0.5rem;
  border-bottom: 1px solid gray;
  font-size: 1.1rem;
  outline: none;
}

.form_container input::placeholder {
  font-size: 0.9rem;
  font-style: italic;
  font-weight: bold;
  color: #026670;
  opacity: 0.4;
}

.form_container button {
  background-color: #9FEDD7;
  color: #026670;
  font-weight: bold;
  border: none;
  padding: 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

.form_container span {
  text-decoration: none;
  color: #026670;
}

span a {
  text-decoration: none;
  font-weight: bold;
  color: #48AAAD;
}

.home_page {
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  flex-direction: column;
  gap: 1rem;
}

.home_page span {
  color: rgba(0, 212, 255, 1);
}

.home_page button:hover {
  background-color: rgba(0, 212, 255, 1);
}

@media only screen and (max-width: 1200px){
  .home_page{
    font-size: 1.5rem;
  }
  .home_page button {
    padding: 0.6rem 1rem;
    font-size: 1.5rem;
  }
}