.itinerarydetails {
    margin-left: 1rem;
    margin-right: 40rem;
    margin-bottom: 1rem;
}
.itinerarydetails h3 {
    margin-top: 1rem;
    margin-left: 1rem;
    display: inline-block;
    font-size: 2.7rem;
}
.itinerarydetails h4 {
    margin-top: 2rem;
    margin-left: 1rem;
    text-decoration: underline;
    font-size: 2.5rem;
    color: #026670;
}
.itinerarydetails text {
    margin-left: 1rem;
    display: inline-block;
    font-size: 1.5rem;
}

.itinerarydetails button:hover {
    background-color: rgba(0, 212, 255, 0);
  }